*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-50{
    width: 100%;
}
.content{
    background-color: rgba(255, 0, 0, 0.445);
    border: 1px solid black;
    height: 100px;
    width: 100%;
}