*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}



/* LAYOUT */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-100{
    width: 100%;
}
.col-50{
    width: 50%;
}
/* END OF LAYOUT */



/* STYLING */

/* CONTENT STYLING */
header{
    background-color: #0085fc;
    padding: 15px;
    margin-bottom: 50px;
}
footer{
    background-color: #333333;
}
.content{
    width: 100%; 
}
.card{
    border-radius: 20px;
    background-color: #b5dcfe;
    margin: 20px 20px 10px 20px;
}
.float-end{
    float: right; 
}
.pd-30-bot{
    padding-bottom: 30px
}
.pd-60-bot{
    padding-bottom: 60px
}
.pd-25-left{
    padding-left: 25px;
}
.mg-20-top{
    margin-top: 20px;
}
.mg-50-top{
    margin-top: 50px;
}
.mg-40-bot{
    margin-bottom: 40px;
}
.mg-100-bot{
    margin-bottom: 100px;
}
.card-2{
    border-radius: 40px;
    background-color: white;
    margin: 20px 20px 10px 20px;
    }
.bg-purple{        
    background-color: #9692e5;
}
.relative-container{
    position: relative;
}
.absolute{
    position: absolute;
    top: 20px;
    left: 150px;
}
    /* END OF CONTENT STYLING */



/* IMG STYLING */

.bars{
    font-size: 30px; 
    padding-top: 5px;  
}
.img-container, 
.icon-container, 
.img.container-2, 
.img.container-3,
.circle-container{
    display: flex;
    justify-content: center;
}
.card-img{
    width: 70%;
}
.logo{
    width: 80px;
    vertical-align: middle;  
}
.file-logo{
    font-size: 90px;
    color: #0085fc;
    margin-top: 40px;
}
.purple-img{
    width: 80%;
    margin-top: 50px;
    margin-left: 30px;
}
.card-img-2{
    width: 100%;
}
.arrow-down{
    margin-bottom: 30px;
    padding: 18px 20px;
    font-size: 18px;
    border-radius: 50px;
}
.profile-img{
    width: 220px;
    height: 220px;
    padding: 30px;
    border-radius: 50%;
    object-fit: cover;
}
/* END IMG STYLING */


/* TEXT STYLING */
.h2{
    margin-left: 20px;
    margin-top: 20px;
}
h3{
    font-size: 25px;
    color: #0085fc;
}
.padding-30-25{
    padding: 30px 25px;
}
.padding-25-30{
    padding: 25px 30px;
}
.padding-0-25{
    padding: 0px 25px;
}
.padding-0-20{
    padding: 0px 20px;
}
h4{
    font-size: 30px;
    padding: 30px 25px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.text, .text-2, .text-3{
    line-height: 2;
    color: #5a6f7e;
    font-size: 15px;
}
.text{
    margin-bottom: 50px;
}
.text-2{
    padding-bottom: 30px;
    margin: 0px 30px;
}
.text-3{
    padding-bottom: 50px;
}
.white-text{
    color: white;
}
.black-text{
    color: black;
}
.purple-text{
    color: #9692e5;
}
.yellow-text{
    color: #fcc05f;
}
.grey-text{
    color: rgba(255, 255, 255, 0.603);
}
.font-size-13{
    font-size: 14px;
}
.subtitle{
    text-align: center;
}
ul{
    display: none;
}
.none{
    text-decoration: none;
}
h5{
    text-align: center;
}
.text-center{
    text-align: center;
}
.font-size-50{
    font-size: 50px;
}
.font-size-60{
    font-size: 60px;
}
.white-bg{
    background-color: white;
}
.line-height{
    line-height: 1.5;
}

/* END OF TEXT STYLING */



/* LABELS */

.head-label{
    border-radius: 30px;
    padding: 10px 15px;
}
.label-container, .text{
    padding: 0px 25px;
    margin-bottom: 50px;    
}
.label-container-2{
    padding: 0px 25px 45px 25px;
}

.label{
    border-radius: 30px;
    padding: 10px 40px;    
}
.label-2{
    border-radius: 30px;
    padding: 20px 60px; 
}
.label-bg-blue{
    background-color: #0085fc;
}
.label-bg-white{
    background-color: white;
}
/* END OF LABELS */

/* END OF STYLING */

/* MEDIA QUERIES */
@media screen and (min-width: 768px){
   /* LAYOUT */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
   .col-66-md{
        width: calc(100% / 3 * 2);
    }
    .col-33-md{
        width: calc(100% / 3);
    }
    .col-25-md{
        width: 25%;
    }
    .col-75-md{
        width: 75%;
    }
    .col-50-md{
        width: 50%;
    }
    .col-60-md{
        width: 60%;
    }
    .col-40-md{
        width: 40%;
    }
    .container-sm{
        max-width: 400px;
        margin: 0 auto;
    }
    /* END OF LAYOUT */
    
    
    
    /* IMG */
   
    .card-img{
        width: 312px;  
    }
    .img-container{
        display: flex;
        justify-content: flex-start;
    }
    .purple-img{
        width: 70%;
    }
    .img-container-2{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .circle-container{
        display: flex;
        justify-content: flex-start;
    }
    /* END OF IMG */
    
    
    
    /* STYLING */
   
    .col-container {
        display: flex;
        flex-wrap: wrap;     
    }
    .font-size-70{
        font-size: 70px;
    }
    .min-height{       
        min-height: 610px;
    }
    .min-height-66{       
        min-height: 610px;
    }
    .text-container{
       padding-top: 50px;
    }
    .left{
        text-align: left;
        margin:0px 20px;
    }
    .mg-60-top{
        margin-top: 60px;
    }
    .mg-20-left{
        margin-left: 20px;
    }

    /* END OF STYLING */
}
@media screen and (min-width: 1200px){
    /* LAYOUT */
    
    .col-50-lg{
        width: 50%;
    }
    .container-lg{
        max-width: 1100px;
        margin: 0 auto;
    }
    .col-33-lg{
        width: calc(100% / 3);
    }
    /* END OF LAYOUT */



    /* IMG */
    
    .card-img{
        width: 80%;
        margin: 60px 60px 0px 0px;
    }
    .img-container{
        display: flex;
        justify-content: flex-end;
    }
    .purple-img{
        width: 80%;
    }
    .card-img-2{
        width: 60%;
    }
    .card-2{
        width: 70%;
    }
    .img-container-2{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    /* END OF IMG */
    
    

    /* STYLING */
    
    ul{
        display: block;
        list-style-type: none;
        display: flex;
        gap: 30px;
        padding-top: 10px;
        float: right;
    }
    .content > i{
        display: none;
    }
   
    .font-size-30{
        font-size: 30px;
    }
    .container-md{
        max-width: 1000px;
        margin: 0 auto;
    }
    .min-height-66{       
        min-height: 365px;
    }
    .min-height{       
        min-height: 365px;        
    }
    .mg-300-top{
        margin-top: 300px;
    }
    .width-100{
        width: 100%;
    }
    /* END OF STYLING */
    
}

