*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}



/* LAYOUT */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-100{
    width: 100%;
}
.col-50{
    width: 50%;
}
/* END OF LAYOUT */



/* STYLING */

/* CONTENT STYLING */
header{
    background-color: #0085fc;
    padding: 15px;
    margin-bottom: 50px;
}
.content{
    width: 100%; 
}
.card{
    border-radius: 20px;
    background-color: #b5dcfe;
    margin: 20px 20px 10px 20px;
}
.float-end{
    float: right; 
}
.mg-100-bot{
    margin-bottom: 100px;
}
/* END OF CONTENT STYLING */



/* IMG STYLING */

.bars{
    font-size: 30px; 
    padding-top: 5px;  
}
.img-container, .icon-container{
    display: flex;
    justify-content: center;
}
.card-img{
    width: 70%;
}
.logo{
    width: 80px;
    vertical-align: middle;  
}
.file-logo{
    font-size: 90px;
    color: #0085fc;
    margin-top: 40px;
}

/* END IMG STYLING */


/* TEXT STYLING */

h3{
    font-size: 25px;
    padding: 30px 25px;
    color: #0085fc;
}
.text, .text-2{
    line-height: 2;
    color: #5a6f7e;
    font-size: 15px;
}
.text{
    margin-bottom: 50px;
}
.text-2{
    text-align: center;
    padding-bottom: 30px;
    margin: 0px 30px;
}
.white-text{
    color: white;
}
.black-text{
    color: black;
}
.subtitle{
    text-align: center;
}
ul{
    display: none;
}
a{
    text-decoration: none;
}
/* END OF STYLING */



/* LABELS */

.head-label{
    border-radius: 30px;
    padding: 10px 15px;
}
.label-container, .text{
    padding: 0px 25px;
    margin-bottom: 50px;
}
.label{
    border-radius: 30px;
    padding: 10px 60px;    
}
.label-bg-blue{
    background-color: #0085fc;
}
.label-bg-white{
    background-color: white;
}
/* END OF LABELS */



/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    .col-66-md{
        width: calc(100% / 3 * 2);
    }
    .col-33-md{
        width: calc(100% / 3);
    }
    .card-img{
        width: 50%;  
    }
    .img-container{
        display: flex;
        justify-content: flex-start;
    }
    .col-container {
        display: flex;
        flex-wrap: wrap;     
    }
}
@media screen and (min-width: 1200px){
    .col-50-lg{
        width: 50%;
    }
    .container-lg{
        max-width: 1300px;
        margin: 0 auto;
    }
    ul{
        display: block;
        list-style-type: none;
        display: flex;
        gap: 30px;
        padding-top: 10px;
        float: right;
    }
    .content > i{
        display: none;
    }
    .card-img{
        width: 70%;
        margin: 60px 60px 0px 0px;
    }
    .img-container{
        display: flex;
        justify-content: flex-end;
    }
}

